<script>
import React from 'react'
import axios from 'axios'
import PropTypes from 'prop-types'
import Paths from '../constants/Paths'
import { Dropdown } from 'react-native-material-dropdown'

export default {
    // Properties for the html element
    props : {
        parent : {
            type: String,
            required: true
        },
        allowAdd : Boolean
    },

    // Same thing as State
    data () {
        return {
            elements : []
        }
    },

    updateElementsFromServer = () => {
        axios.get(Paths.serverUrl + "/category?parent=" + parent)
            .then(res => {
                let elementList = []
                res.data.forEach(e => {
                    elementList.push(new Element(e.name, e.value))
                })
                this.elements = elementList
            }
        )
    }
}
</script>


<template>
    
</template>
